body{
    text-align:center;
}
h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: 350;
}
#apps{
    background-color: turquoise;

}
.line{
    width: 60px;
    height: 10px;
    margin: 9px auto;
    background-color: crimson;
}
#games{
    background-color: cyan;
}
#chatbot{
    background-color: blueviolet;
}
#mycarosel{
    background-color: crimson;
}
#mycarosel img{
    height: 300px;
    margin-top: 35px;
}
.carosel-inner p
{
    margin-top: 15px;
    color: azure;
    font-size: 20 px;
} 